@import url("https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Mate+SC&display=swap');
* {
  font-family: "Overpass", sans-serif;
  padding: 0;
  margin: 0;
  user-select: none;
}
#preloader{
  height: 100vh;
  width: 100%;
  z-index: 999;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #000;
  padding-bottom:100%;
}

#preloader span{
  position: relative;
  top: 50%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100px;
  border:6px solid #ffff ;
  border-radius: 50%;
  border-left:6px solid transparent ;
  animation: rotatef 1s linear infinite;
}
#preloader #load-2{
  position: relative;
  top: 39%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  /* background-color: #17aeb9; */
  border:4px solid #ffff ;
  border-radius: 50%;
  border-left:4px solid transparent ;
  animation: rotate 1s linear infinite;
}

@keyframes rotatef{
  0%{
    transform: rotate(360deg);

  }
  100%{
    transform: rotate(0deg);
  }
}
@keyframes rotate{
  0%{
    transform: rotate(-360deg);

  }
  100%{
    transform: rotate(0deg);
  }
}

::-webkit-scrollbar{
  width: 10px;
  height: 20px;
 
}
::-webkit-scrollbar-track{
  box-shadow: inset 0 0 10px grey;
  border-radius: 3px;
}
::-webkit-scrollbar-thumb{
  background-color: #1e3799 ;
}
body {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}
#header {
  height: 80px;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #33d9b2;
  flex-wrap: wrap;
}
#header h1 {
  margin-left: 20px;
  color: #2f3640;
  font-family: "Mate SC", serif;
}

#header #navbar ul {
  display: flex;
  list-style: none;
  flex-direction: row;
  margin-right: 40px;
}

#header #navbar ul li a {
  display: flex;
  text-decoration: none;
  margin-right: 30px;
  margin-left: 30px;
  color: #2f3640;
  transition: 0.3s linear;
  font-weight: 600;
}
#header #navbar ul li:hover {
  color: black;
  background-color: #20a485;
  border-radius: 20px;
}
#header #navbar ul li a:hover {
  color: black;
}

#searchbar{
position: relative;
height: 80px;
width: 100%;
display: flex;
justify-content: center;
align-items: center;
}
#searchbar input{
    height: 50px;
    width: 600px;
    padding-left: 15px;
    border: 2px solid #26de81;
    border-radius:5px 0 0 5px ;
    font-size: 18px;
    color: #3867d6;

    &:focus{
        
        outline:none; 
        border:2px solid #20bf6b;
        box-shadow: 0 0 5px #26de81;
    }
}
#searchbar button{
    height: 50px;
    width: 80px;
    font-size: 28px;
    background-color: #26de81;
    border: none;
    cursor: pointer;
    border-radius: 0 5px 5px 0;

    &:hover{
        background-color: #32c577;
        border:1px solid #32c577;
    }
}

::placeholder{
    color: #20bf6b;
    font-size: 18px;
}

#products-list{
    position: relative;
    height: 100%;
    width: 1400px;
    display: flex;
    margin-left: 70px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-weight: 700;
   /* border: 1px solid red; */
}

#products-list #products{
    position:relative;
    gap: 3px;
    margin-left: 24px;
    margin-top: 24px;
    height: 380px;
    width: 370px;
    /* border: 1px solid black; */
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: #f7eacf;

}

#products-list #products button{
    cursor: pointer;
    height: 40px;
    width: 200px;
    border-radius: 10px;
    border: none;
    background-color: #20bf6b;
    font-weight: 800;
    &:hover{
        box-shadow: 2px 2px 0 #20bf6b,
        4px 4px 0 #20bf6b;
        background-color: #26de81;
        transition: 0.2s linear;
    }
}
#products-list #products h1{
    font-size: 25px;
}
#products-list #products img{
    opacity:0.9;
    border-radius: 5px;

    &:hover{
        opacity: 1;
        transition: 0.3s ease;
        transform: scale(1.01);
    }
}